# IDE
.idea
wintermute_python.sublime-project
wintermute_python.sublime-workspace

# Python
__pycache__/
*.pyc
*.pyo
.venv
venv

# Config
config.yaml

# Logs & diagnostics
logs/
*.log
diag_*.txt

# Downloaded packages
*.deb

# Test artifacts
MagicMock/

# Cache
cache/
